
.badge {
  position: relative;
  z-index: 1;

  $self: &;

  &--primary {
    #{$self}__text {
      animation: pulse-primary 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      background-color: $primary;
    }
  }

  &__text {
    animation: pulse-default 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    background-color: $black;
    border-radius: 50%;
    color: $white;
    font-size: 14px;
    height: 24px;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -100%;
    transition: $animation-badge;
    width: 24px;
    z-index: 2;

    span {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
