
* {
  box-sizing: border-box;
  outline: none;
  position: relative;

  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

html, body {
  background-color: $bg-color;
  color: $fg-color;
}

button {
	&:focus {
    outline: none;
  }
}
