
.stepper {
  &__content {
    padding: 32px;
  }

  &__steps {

  }

  &__step {
    color: $secondary;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;

    $self: &;

    &--active {
      #{$self}__indicator {
        background-color: $primary;
        color: $white;
      }
    }

    &--complete {
      #{$self}__indicator {
        background-color: $black;
        color: $secondary;
      }
    }

    &__bar {
      border-top: 1px solid $secondary;
      display: inline-block;
      height: 5px;
      margin-right: 21px;
      margin-top: -2px;
      min-width: 100px;
      width: 100px;
    }

    &__indicator {
      background-color: $black;
      border-radius: 50%;
      color: $white;
      display: inline-block;
      font-size: 16px;
      height: 35px;
      line-height: 21px;
      margin-right: 9px;
      margin-bottom: -12px;
      overflow: hidden;
      position: relative;
      transition: $animation-stepper;
      width: 35px;

      i, span {
        font-size: 16px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__title { margin-right: 40px; }
  }
}
