/**
 * Core Variables
 */

/* Colors */
$black: #252525;
$green: #9eff90;
$light-gray: #f7f7f7;
$purple: #bc92ff;
$red: #e34a4a;
$white: #ffffff;
$yellow: #fffb79;

/* Color Codes */
$disabled: #cccccc;
$primary: #294dea;
$secondary: #7c7c7c;
$tertiary: #e9edfc;

/* Font */
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Poppins', sans-serif;

/* Grid */
$grid-gutter: 10px;
$grid-size: 12;
$grid-sm: 768px;
$grid-md: 1024px;
$grid-lg: 1200px;
$grid-breaks: ("sm": $grid-sm, "md": $grid-md, "lg": $grid-lg);
