/**
 * Core Variables
 */

/* Colors */
$black: #252525;
$green: #9eff90;
$light-gray: #f7f7f7;
$purple: #bc92ff;
$red: #e34a4a;
$white: #ffffff;
$yellow: #fffb79;

/* Color Codes */
$primary: #294dea;
$secondary: #7c7c7c;
$tertiary: #e9edfc;

/* Font */
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;