/**
 * Core Variables
 */
/* Colors */
/* Color Codes */
/* Font */
.b, button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 19px;
  margin: 0 5px;
  overflow: hidden;
  padding: 5px 22px;
  text-align: center;
  transition: background-color 0.3s; }
  .b-default, button-default {
    background-color: #252525;
    border: 1px solid #252525;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff; }
    .b-default--outline, button-default--outline {
      background: transparent;
      border: 1px solid #252525;
      color: #252525; }
      .b-default--outline:hover, .b-default--outline:focus, button-default--outline:hover, button-default--outline:focus {
        background-color: #bebebe; }
    .b-default--text, button-default--text {
      background: transparent;
      border: 1px solid #252525;
      color: #252525;
      border: 0;
      box-shadow: none; }
      .b-default--text:hover, .b-default--text:focus, button-default--text:hover, button-default--text:focus {
        background-color: #bebebe; }
  .b-primary, button-primary {
    background-color: #294dea;
    border: 1px solid #294dea;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff; }
    .b-primary--outline, button-primary--outline {
      background: transparent;
      border: 1px solid #294dea;
      color: #294dea; }
      .b-primary--outline:hover, .b-primary--outline:focus, button-primary--outline:hover, button-primary--outline:focus {
        background-color: #e3e8fc; }
    .b-primary--text, button-primary--text {
      background: transparent;
      border: 1px solid #294dea;
      color: #294dea;
      border: 0;
      box-shadow: none; }
      .b-primary--text:hover, .b-primary--text:focus, button-primary--text:hover, button-primary--text:focus {
        background-color: #e3e8fc; }
  .b-secondary, button-secondary {
    background-color: #7c7c7c;
    border: 1px solid #7c7c7c;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff; }
    .b-secondary--outline, button-secondary--outline {
      background: transparent;
      border: 1px solid #7c7c7c;
      color: #7c7c7c; }
      .b-secondary--outline:hover, .b-secondary--outline:focus, button-secondary--outline:hover, button-secondary--outline:focus {
        background-color: #d5d5d5; }
    .b-secondary--text, button-secondary--text {
      background: transparent;
      border: 1px solid #7c7c7c;
      color: #7c7c7c;
      border: 0;
      box-shadow: none; }
      .b-secondary--text:hover, .b-secondary--text:focus, button-secondary--text:hover, button-secondary--text:focus {
        background-color: #d5d5d5; }
  .b-disabled, button-disabled {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    color: #e6e6e6;
    cursor: not-allowed; }
    .b-disabled--outline, button-disabled--outline {
      background: transparent;
      border: 1px solid #cccccc;
      color: #cccccc;
      cursor: not-allowed; }
      .b-disabled--outline:hover, .b-disabled--outline:focus, button-disabled--outline:hover, button-disabled--outline:focus {
        background-color: #e6e6e6; }
    .b-disabled--text, button-disabled--text {
      background: transparent;
      border: 1px solid #cccccc;
      color: #cccccc;
      border: 0;
      box-shadow: none;
      cursor: not-allowed; }
      .b-disabled--text:hover, .b-disabled--text:focus, button-disabled--text:hover, button-disabled--text:focus {
        background-color: #e6e6e6; }

html, body {
  background-color: #252525;
  color: #ffffff; }

button:focus {
  outline: none; }

/* Base */
.body, body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 21px; }
  .body .hero, body .hero {
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    font-weight: bold;
    line-height: 78px; }
  .body .h1, .body h1, body .h1, body h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px; }
  .body .h2, .body h2, body .h2, body h2 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 48px; }
  .body .h3, .body h3, body .h3, body h3 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    line-height: 42px; }
  .body .h4, .body h4, body .h4, body h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 35px; }
  .body .h5, .body h5, body .h5, body h5 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px; }
  .body .p, .body p, body .p, body p {
    font-size: 14px;
    line-height: 19px; }

/* Helpers */
.t {
  /* Color Code */
  /* Family */
  /* Position */
  /* Size */ }
  .t-primary {
    color: #294dea; }
  .t-secondary {
    color: #7c7c7c; }
  .t-tertiary {
    color: #e9edfc; }
  .t-poppins {
    font-family: "Poppins", sans-serif; }
  .t-roboto {
    font-family: "Roboto", sans-serif; }
  .t-center {
    text-align: center; }
  .t-left {
    text-align: left; }
  .t-right {
    text-align: right; }
  .t-52 {
    font-size: 52px; }
  .t-40 {
    font-size: 40px; }
  .t-32 {
    font-size: 32px; }
  .t-28 {
    font-size: 28px; }
  .t-24 {
    font-size: 24px; }
  .t-20 {
    font-size: 20px; }
  .t-16 {
    font-size: 16px; }
  .t-14 {
    font-size: 14px; }
  .t-9 {
    font-size: 9px; }

/* Utility Classes */
.u {
  /* Background */
  /* Foreground */ }
  .u-bg-black {
    background-color: #252525; }
  .u-bg-white {
    background-color: #ffffff; }
  .u-fg-black {
    color: #252525; }
  .u-fg-white {
    color: #ffffff; }
