$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

@keyframes bounce {
  70% {
    padding-bottom: 28px;
  }
  80% {
    padding-bottom: 32px;
  }
  90% {
    padding-bottom: 26px;
  }
  95% {
    padding-bottom: 30px;
  }
  97% {
    padding-bottom: 22px;
  }
  99% {
    padding-bottom: 26px;
  }
  100% {
    padding-bottom: 32px;
  }
}

@keyframes hinge {
  0% {
    animation-timing-function: $bounce;
    transform: rotate(-120deg);
    transform-origin: top left;
  }
  25% {
    animation-timing-function: $bounce;
    transform: rotate(70deg);
    transform-origin: top left;
  }
  50% {
    animation-timing-function: $bounce;
    transform: rotate(-120deg);
    transform-origin: top left;
  }
  100% {
    animation-timing-function: $bounce;
    transform: rotate(0deg) translateY(200%);
  }
}

@keyframes pulse-default {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-primary {
  0% {
    box-shadow: 0 0 0 0 rgba(41, 77, 234, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(41, 77, 234, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(41, 77, 234, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(227, 74, 74, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(227, 74, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(227, 74, 74, 0);
  }
}

@keyframes pulse-secondary {
  0% {
    box-shadow: 0 0 0 0 rgba(124, 124, 124, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(124, 124, 124, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(124, 124, 124, 0);
  }
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0, 0);
  }
  20% {
    opacity: 1;
    transform: scale(25, 25);
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

$animation-badge: all .3s $bounce 0s;
$animation-button-hover: background-color .5s $ease-out-quad 0s;
$animation-card: all .3s $bounce 0s;
$animation-checkbox-click: transform .3s $bounce 0s;
$animation-drawer: left .5s $bounce 0s, background-color 0s $ease-out-quad 0s;
$animation-input-border: all .2s $ease-out-quad 0s;
$animation-label: top .2s $bounce 0s;
$animation-menu: all .15s $bounce 0s;
$animation-modal-container: all 1s $bounce 1s;
$animation-modal-overlay: background-color .25s $bounce 0s;
$animation-panel-arrow: all 1s $bounce 0s;
$animation-panel-close: all .5s $bounce 0s;
$animation-panel-open: all 1s $bounce .5s;
$animation-select: all 1s ease-out 0s;
$animation-stepper: background-color 1s $bounce 0s;
$animation-table: background-color .25s $bounce 0s;
$animation-tooltip: all .5s $bounce 0s;

