$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$swift-ease-out-duration: 0.4s;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function;

$swift-ease-in-duration: 0.3s;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function;

$swift-ease-in-out-duration: 0.5s;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function;

$swift-linear-duration: 0.08s;
$swift-linear-timing-function: linear;
$swift-linear: all $swift-linear-duration $swift-linear-timing-function;

$material-enter-duration: 0.3s;
$material-enter-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
$material-enter: all $material-enter-duration $material-enter-timing-function;

$material-leave-duration: 0.3s;
$material-leave-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
$material-leave: all $material-leave-duration $material-leave-timing-function;


@keyframes bounce {
  70% {
    padding-bottom: 28px;
  }
  80% {
    padding-bottom: 32px;
  }
  90% {
    padding-bottom: 26px;
  }
  95% {
    padding-bottom: 30px;
  }
  97% {
    padding-bottom: 22px;
  }
  99% {
    padding-bottom: 26px;
  }
  100% {
    padding-bottom: 32px;
  }
}

@keyframes hinge {
  0% {
    animation-timing-function: $bounce;
    transform: rotate(-120deg);
    transform-origin: top left;
  }
  25% {
    animation-timing-function: $bounce;
    transform: rotate(70deg);
    transform-origin: top left;
  }
  50% {
    animation-timing-function: $bounce;
    transform: rotate(-120deg);
    transform-origin: top left;
  }
  100% {
    animation-timing-function: $bounce;
    transform: rotate(0deg) translateY(200%);
  }
}

@keyframes pulse-default {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-primary {
  0% {
    box-shadow: 0 0 0 0 rgba(41, 77, 234, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(41, 77, 234, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(41, 77, 234, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(227, 74, 74, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(227, 74, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(227, 74, 74, 0);
  }
}

@keyframes pulse-secondary {
  0% {
    box-shadow: 0 0 0 0 rgba(124, 124, 124, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(124, 124, 124, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(124, 124, 124, 0);
  }
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0, 0);
  }
  20% {
    opacity: 1;
    transform: scale(25, 25);
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

$animation-badge: $swift-ease-in;
$animation-button-hover: $swift-ease-in;
$animation-card: $swift-ease-in;
$animation-checkbox-click: $swift-ease-out;
$animation-drawer: $swift-ease-out;
$animation-input-border: $swift-ease-in;
$animation-label: $swift-ease-in;
$animation-menu: $swift-ease-out;
$animation-modal-container: $swift-ease-in;
$animation-modal-overlay: $swift-ease-in;
$animation-panel-arrow: $swift-ease-in;
$animation-panel-close: $swift-ease-out;
$animation-panel-open: $swift-ease-in;
$animation-select: $swift-ease-in-out;
$animation-stepper: $swift-ease-in;
$animation-table: $swift-ease-in;
$animation-tooltip: $swift-ease-in;

