$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);

$animation-badge: all .3s $ease-out-quad;
$animation-button-hover: background-color .3s $ease-out-quad;
$animation-checkbox-click: transform .3s;
$animation-drawer: left .5s $ease-out-quad, background-color .3s $ease-out-quad;
$animation-input-border: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$animation-label: top 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
$animation-menu: all .15s cubic-bezier(0.35, 0, 0.25, 1);
$animation-modal-overlay: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$animation-panel: max-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$animation-panel-open: max-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$animation-select: all .15s cubic-bezier(0.35, 0, 0.25, 1) 0ms;
$animation-tooltip: all 241ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
