
.b {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: $white;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 19px;
  letter-spacing: normal;
  margin: 0 5px;
  overflow: hidden;
  padding: 5px 22px;
  text-align: center;
  transition: $animation-button-hover;

  background-color: $black;
  border: 1px solid $black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  color: $white;

  &--icon {
    @include button-icon($black, 60%);
    border-radius: 50%;
    color: $black;
    height: 44px;
    margin: 0 10px;
    padding: 0;
    text-align: center;
    width: 44px;
  }
  &--outline { @include button-outline($black, 60%); }
  &--text { @include button-text($black, 60%); }

  $self: &;

  &--primary {
    background-color: $primary;
    border: 1px solid $primary;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    color: $white;

    &#{$self}--icon { @include button-icon($primary, 40%); }
    &#{$self}--outline { @include button-outline($primary, 40%); }
    &#{$self}--text { @include button-text($primary, 40%); }
  }

  &--secondary {
    background-color: $secondary;
    border: 1px solid $secondary;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    color: $white;

    &#{$self}--icon { @include button-icon($secondary, 35%); }
    &#{$self}--outline { @include button-outline($secondary, 35%); }
    &#{$self}--text { @include button-text($secondary, 35%); }
  }

  &--disabled {
    background-color: $disabled;
    border: 1px solid $disabled;
    box-shadow: none;
    color: lighten($disabled, 10%);
    cursor: not-allowed;

    &#{$self}--icon {
      @include button-icon($disabled, 10%);
      cursor: not-allowed;
    }
    &#{$self}--outline {
      @include button-outline($disabled, 10%);
      cursor: not-allowed;
    }
    &#{$self}--text {
      @include button-text($disabled, 10%);
      cursor: not-allowed;
    }
  }
}
