
.chart {
  background-color: $black;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  color: $white;

  &__body {
    padding: 0 24px 24px 24px;
    text-align: center;
  }

  &__head {
    display: flex;
    flex-direction: row;
    padding: 32px 24px;

    * { display: inline-block; }

    &__flex { flex: 1; }

    &__links {
      a {
        color: $secondary;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        margin-right: 56px;

        &:last-child { margin-right: 0; }

        &.active { color: $white; }
      }
    }

    &__subtitle {
      font-size: 14px;
      line-height: 19px;
      padding-top: 11px;
    }

    &__title {
      font-family: $font-secondary;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 35px;
      margin-right: 10px;
    }
  }
}
