.checkbox {
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid $black;
  border-radius: 5px;
  margin: 0 5px;
  color: $white;
  text-align: center;
  vertical-align: top;

  &--primary { border-color: $primary }
  &--secondary { border-color: $secondary }
  &--red { border-color: $red }
  &--disabled {
    border-color: #C8C8C8;
    cursor: not-allowed;
  }

  $self: &;

  &--checked:not(#{$self}--switch) {
    animation: pulse-default 1.25s cubic-bezier(0.66, 0, 0, 1);
    border: 0;
    background-color: $black;

    &#{$self}--primary {
      animation: pulse-primary 1.25s cubic-bezier(0.66, 0, 0, 1);
      background-color: $primary;
    }
    &#{$self}--secondary {
      animation: pulse-secondary 1.25s cubic-bezier(0.66, 0, 0, 1);
      background-color: $secondary;
    }
    &#{$self}--red {
      animation: pulse-red 1.25s cubic-bezier(0.66, 0, 0, 1);
      background-color: $red;
    }
    &#{$self}--disabled {
      background-color: #C8C8C8;
    }

    &::after {
      content: "\2713";
    }
    &#{$self}--indeterminate::after {
      content: "\2015";
    }
  }

  &--switch {
    background-color: #D8D8D8;
    width: 48px;
    border-radius: 12px;
    border: none;

    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $white;
      transition: $animation-checkbox-click;
      box-sizing: content-box;
      // background-clip: padding-box;
    }

    &#{$self}--checked {
      &::after {
        animation: pulse-default 1.25s cubic-bezier(0.66, 0, 0, 1);
        background-color: $black;
        transform: translate(24px);
      }
      &#{$self}--primary::after {
        animation: pulse-primary 1.25s cubic-bezier(0.66, 0, 0, 1);
        background-color: $primary;
      }
      &#{$self}--secondary::after {
        animation: pulse-secondary 1.25s cubic-bezier(0.66, 0, 0, 1);
        background-color: $secondary;
      }
      &#{$self}--red::after {
        animation: pulse-red 1.25s cubic-bezier(0.66, 0, 0, 1);
        background-color: $red;
      }
    }

    // &#{$self}:focus-visible::after {
    //   margin-left: -10px;
    //   margin-top: -10px;
    //   border: 10px solid rgba(0,0,0,0.05);
    // }

    &#{$self}--disabled::after {
      animation: none;
      background-color: #C8C8C8;
    }
  }
}
