
.drawer {
  background-color: transparent;
  bottom: 0;
  display: block;
  left: -100%;
  position: fixed;
  top: 0;
  transition: $animation-drawer;
  z-index: 6;

  &--open {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
  }

  &__menu {
    background-color: $white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: $drawer-width;
    z-index: 7;

    &__divider {
      border: 1px solid rgba(0, 0, 0, 0.2);
      height: 1px;
    }

    &__header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 20px;
    }

    &__link {
      cursor: pointer;
      position: relative;

      &:active {
        background-color: darken(#f2f2f2, 25%);
      }

      &:focus, &:hover {
        background-color: #f2f2f2;
      }

      a {
        color: $secondary;
        display: block;
        font-family: $font-primary;
        font-size: 14px;
        height: 60px;
        line-height: 19px;
        padding-left: 84px;
        padding-top: 22px;
        text-decoration: none;
        width: 100%;
      }

      i {
        font-size: 24px;
        left: 32px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__title {
      color: $black;
      font-family: $font-secondary;
      font-size: 24px;
      font-weight: bold;
      height: 33px;
      letter-spacing: -1px;
      line-height: 35px;
    }

    &__subtitle {
      color: $black;
      font-family: $font-primary;
      font-size: 14px;
      line-height: 19px;
    }
  }
}
