html {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

.row {
  margin-left: -1*$grid-gutter;
  margin-right: -1*$grid-gutter;

  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.col {
  display: inline;
  vertical-align: baseline;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  float: left;

  @for $i from 1 to $grid-size {
    &-#{$i} {
      width: ($i/$grid-size)*100%;
    }
  }

  @each $slug, $size in $grid-breaks {
    @media (max-width: #{$size}) {
      @for $i from 1 to $grid-size {
        &-#{$slug}-#{$i} {
          width: ($i/$grid-size)*100%;
        }
      }
    }
  }
}
