
.input {
  font-family: $font-primary;
  font-size: 14px;
  height: 55px;
  padding-top: 18px;
  position: relative;

  $self: &;

  input, select, textarea {
    background: transparent;
    border: 0;
    color: $black;
    line-height: 16px;
    outline: none;
    padding: 4px 0;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0 !important;
    color: $black;
    text-indent: 0.1px;
    text-overflow: '';

    &::-ms-expand {
      display: none;
    }

    option {
      border: 0;
      color: $black;
      max-height: 0;
    }
  }

  &--active {
    #{$self}__label {
      color: $secondary;
      font-family: $font-primary;
      font-size: 12px;
      height: 11px;
      line-height: 11px;
      top: 0;
    }

    #{$self}__arrow { color: $black; }
  }

  &--error {
    #{$self}__label { color: $red !important; }

    #{$self}__component { border-color: $red !important; }
  }

  &--focus {
    #{$self}__bar:after, #{$self}__bar:before {
      width: 50%;
    }

    &:not(#{$self}--native) {
      select#{$self}__component {
        display: none;
      }

      #{$self}__options {
        max-height: 230px;
        transition: $animation-select;

        &__item {
          opacity: 1;
          transition: $animation-select-item;
        }
      }
    }
  }

  &--native {
    select {
      font-family: $font-primary;
      font-size: 14px;

      option {
        cursor: pointer;
        display: block !important;
        height: 27px;
        line-height: 19px;
        min-width: 108px;
        padding: 6px 11px;
        width: 100%;

        &:active { background-color: rgba(124, 124, 124, 0.2); }

        &:hover { background-color: rgba(124, 124, 124, 0.1); }
      }
    }
  }

  &__arrow {
    color: $secondary;
    float: right;
    height: 5px;
    position: absolute;
    right: 0;
    top: 19px;
    width: 10px;
  }

  &__bar {
    display: block;
    position: relative;

    &:after, &:before {
      content: '';
      height: 1px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $primary;
      transition: 0.2s ease all;
    }

    &:after {
      right: 50%;
    }

    &:before {
      left: 50%;
    }
  }

  &__component {
    border-color: transparent;
    border-bottom: 1px solid #f2f2f2;
    font-family: $font-primary;
    font-size: 14px;
    min-width: 108px;
    width: 100%;
  }

  &__label {
    color: $secondary;
    cursor: text;
    font-family: $font-primary;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    min-width: 108px;
    position: absolute;
    top: 18px;
    transition: $animation-label;
  }

  &__message {
    color: $secondary;
    font-size: 9px;
    height: 11px;
    line-height: 11px;
    margin-top: 6px;
  }

  &__options {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    display: block;
    left: 50%;
    max-height: 0;
    min-width: 108px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 4;

    @include scrollbar;

    &__item {
      cursor: pointer;
      font-family: $font-primary;
      font-size: 14px;
      height: 27px;
      line-height: 19px;
      min-width: 108px;
      opacity: 0;
      padding: 6px 11px;
      width: 100%;

      &:hover { background-color: rgba(124, 124, 124, 0.1); }

      &--active { background-color: rgba(124, 124, 124, 0.2); }
    }
  }
}
