
.menu {
  display: inline-block;
  position: relative;
  z-index: 1;

  $self: &;

  &--open {
    #{$self}__items {
      max-height: 230px;
      transition: $animation-select;
    }

    #{$self}__item {
      opacity: 1;
      transition: $animation-select-item;
    }
  }

  &__items {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    display: block;
    left: 50%;
    margin: 0;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    width: -moz-max-content;
    width: -ms-max-content;
    width: -o-max-content;
    width: -webkit-max-content;
    z-index: 5;
  }

  &__item {
    cursor: pointer;
    font-family: $font-primary;
    font-size: 16px;
    height: 39px;
    line-height: 19px;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 10px 11px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:hover { background-color: rgba(124, 124, 124, 0.1); }

    &--active { background-color: rgba(124, 124, 124, 0.2); }

    i { margin-right: 12px; }
  }
}
