
@mixin border($color: transparent) {
  border: 1px solid $color;
}

@mixin box($size: 8px) {
  height: $size;
  width: $size;
}

@mixin button-default($color) {
  background-color: $color;
  background-position: center;
  border: none;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
    visibility: hidden;
  }

  &:focus:after {
    visibility: visible;
  }

  &:focus:not(:active)::after {
    animation: ripple 2s ease-out;
  }

  &:hover {
    background-color: lighten($color, 10%);
  }
}

@mixin button-icon($color, $p) {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  color: $color;

  &:active {
    background-color: darken(lighten($color, $p), 25%);
  }

  &:hover, &:focus {
    background-color: lighten($color, $p);
    border: 1px solid lighten($color, $p);
  }
}

@mixin button-outline($color, $p) {
  background: transparent;
  border: 1px solid $color;
  box-shadow: none;
  color: $color;

  &:active {
    background-color: darken(lighten($color, $p), 25%);
  }

  &:hover, &:focus {
    background-color: lighten($color, $p);
  }
}

@mixin button-text($color, $p) {
  @include button-outline($color, $p);
  border: 0;
  box-shadow: none;
}

@mixin cols($slug) {
  @for $i from 1 through $grid-size {
    .col-#{$slug}-#{$i} {
      width: ($i/$grid-size)*100%;
    }
  }
}

@mixin scrollbar {
  scrollbar-3dlight-color: $light-gray;
  scrollbar-arrow-color: $black;
  scrollbar-base-color: $white;
  scrollbar-darkshadow-color: $black;
  scrollbar-face-color: $gray;
  scrollbar-highlight-color: $light-gray;
  scrollbar-shadow-color: $black;

  -webkit-scrollbar-3dlight-color: $light-gray;
  -webkit-scrollbar-arrow-color: $black;
  -webkit-scrollbar-base-color: $white;
  -webkit-scrollbar-darkshadow-color: $black;
  -webkit-scrollbar-face-color: $gray;
  -webkit-scrollbar-highlight-color: $light-gray;
  -webkit-scrollbar-shadow-color: $black;

  -moz-scrollbar-3dlight-color: $light-gray;
  -moz-scrollbar-arrow-color: $black;
  -moz-scrollbar-base-color: $white;
  -moz-scrollbar-darkshadow-color: $black;
  -moz-scrollbar-face-color: $gray;
  -moz-scrollbar-highlight-color: $light-gray;
  -moz-scrollbar-shadow-color: $black;
}
