
@mixin border($color: transparent) {
  border: 1px solid $color;
}

@mixin box($size: 8px) {
  height: $size;
  width: $size;
}

@mixin button-icon($color, $p) {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  color: $color;

  &:active {
    background-color: darken(lighten($color, $p), 25%);
  }

  &:hover, &:focus {
    background-color: lighten($color, $p);
    border: 1px solid lighten($color, $p);
  }
}

@mixin button-outline($color, $p) {
  background: transparent;
  border: 1px solid $color;
  box-shadow: none;
  color: $color;

  &:active {
    background-color: darken(lighten($color, $p), 25%);
  }

  &:hover, &:focus {
    background-color: lighten($color, $p);
  }
}

@mixin button-text($color, $p) {
  @include button-outline($color, $p);
  border: 0;
  box-shadow: none;
}

@mixin cols($slug) {
  @for $i from 1 through $grid-size {
    .col-#{$slug}-#{$i} {
      width: ($i/$grid-size)*100%;
    }
  }
}
