
.modal {
  background: transparent;
  bottom: 0;
  left: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: fixed;
  right: -100%;
  top: 0;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  will-change: opacity;
  z-index: 10;

  $self: &;

  &--open {
    left: 0;
    opacity: 1;
    right: 0;

    #{$self}__container {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--overlay {
    background-color: rgba(0, 0, 0, 0.5);
    transition: $animation-modal-overlay;
  }

  &__actions {
    margin: 0;
    padding-top: 42px;
    text-align: right;

    .button, button { margin: 0; }

    .button:first-child, button:first-child { margin-right: 20px; }
  }

  &__container {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    left: 100%;
    margin: 0;
    padding: $modal-padding;
    position: fixed;
    top: 100%;
  }

  &__content {
    margin: 0;
    padding: 0;

    * {
      margin: 0;
      padding: 0;
    }
  }

  &__title {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: bold;
    height: 28px;
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 17px;

    * {
      margin: 0;
      padding: 0;
    }
  }

  @media screen {
    @media only screen and (max-width: $grid-md) {
      &--open {
        height: 100%;
        width: 100%;

        #{$self}__container {
          bottom: 0;
          height: 100%;
          left: 0;
          right: 0;
          top: 0;
          transform: none;
          transition: $animation-modal-overlay;
          width: 100%;
        }
      }
    }
  }
}
