
.modal {
  background: transparent;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  &--open {
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    will-change: opacity;
  }

  &--overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__actions {
    margin: 0;
    padding-top: 42px;
    text-align: right;

    .button, button { margin: 0; }

    .button:first-child, button:first-child { margin-right: 20px; }
  }

  &__container {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    left: 50%;
    margin: 0;
    padding: $modal-padding;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    margin: 0;
    padding: 0;

    * {
      margin: 0;
      padding: 0;
    }
  }

  &__title {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: bold;
    height: 28px;
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 17px;

    * {
      margin: 0;
      padding: 0;
    }
  }
}
