
.navbar {
  background-color: $white;
  min-height: 90px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  $self: &;

  &__links {
    min-height: 90px;
    left: 121px;
    margin: 0;
    padding: 0;
  }

  &__link {
    cursor: pointer;
    display: inline-block;
    height: 90px;
    padding: 33px 24px;
    position: relative;

    &:hover {
      a {
        color: $primary;
        transition: $animation-navbar;
      }
    }

    &--active {
      a { color: $primary !important; }

      i { color: $primary !important; }
    }

    a {
      color: $black;
      font-family: $font-primary;
      font-size: 16px;
      text-decoration: none;
      width: max-content;
      width: -moz-max-content;
      width: -ms-max-content;
      width: -o-max-content;
      width: -webkit-max-content;
    }

    i {
      color: $black;
      font-size: 22px;
      margin-right: 10px;
    }
  }

  &__menu {
    cursor: pointer;
    font-size: 30px;
    left: 32px;
    margin: 0;
    position: absolute;
    top: 32px;
  }

  @media only screen and (max-width: $grid-sm) {
    &:hover {
      #{$self}__links {
        display: block;
        margin-bottom: 24px;
      }

      #{$self}__link {
        display: block;
        height: 50px;
        padding: 33px 24px;
      }
    }

    &__links {
      display: none;
    }
  }
}
