
.stepper {
  &__content {
    padding: 32px;
  }

  &__steps {

  }

  &__step {
    color: $secondary;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;

    $self: &;

    &--active {
      #{$self}__indicator {
        background-color: $primary;
        color: $white;
        padding: 8px 10px;
      }
    }

    &--complete {
      #{$self}__indicator {
        background-color: $black;
        color: $secondary;
        padding: 8px 10px;
      }
    }

    &__bar {
      border-top: 1px solid $secondary;
      display: inline-block;
      height: 5px;
      margin-right: 21px;
      margin-top: -2px;
      min-width: 100px;
      width: 100px;
    }

    &__indicator {
      background-color: $black;
      border-radius: 50%;
      color: $white;
      font-size: 16px;
      height: 35px;
      line-height: 21px;
      margin-right: 9px;
      padding: 7px 13px;
      transition: $animation-stepper;
      width: 35px;
    }

    &__title { margin-right: 40px; }
  }
}
