
.table {
  margin: 0;
  padding: 0;
  width: 100%;

  $self: &;

  &__head {
    #{$self}__cell {
      color: $secondary;
      cursor: pointer;
      font-size: 14px;
      height: 70px;
      line-height: 19px;

      i { margin-left: 7px; }
    }

    #{$self}__row, #{$self}__row:hover {
      background: transparent !important;
    }
  }

  &__cell {
    color: #252525;
    font-size: 16px;
    line-height: 21px;
    padding: 7px;

    input[type="checkbox"] {
      border-radius: 2px;
      display: none;

      &:hover::before {
        text-shadow: 0px 0px 1px $primary;
      }

      &::before {
        color: $secondary;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        text-shadow: 0px 0px 1px $light-gray;
        transition: color .3s ease;
      }

      &:checked + label::before {
        color: $primary;
      }

      & + label::before {
        content: "\2610";
        font-size: 18px;
      }

      &:checked + label::before {  content: "\2611"; }
    }
  }

  &__row {
    height: 50px;
    padding: 0 32px;

    &:hover {
      background-color: rgba(41, 77, 234, 0.1) !important;
    }

    &:nth-child(odd) {
      background-color: rgba(124, 124, 124, 0.1);
    }
  }
}
