
.tooltip {
  display: inline-block;
  position: relative;

  &__content {
    background-color: $secondary;
    border-radius: $border-radius;
    color: $white;
    display: inline-block;
    font-size: 9px;
    line-height: 11px;
    padding: $grid-gutter/2 $grid-gutter;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: max-content;
    z-index: 1;

    $self: &;

    &::after {
      border-style: solid;
      border-width: 5px;
      content: " ";
      position: absolute;
    }

    &--primary {
      background-color: $primary;

      &#{$self}--bottom::after { border-color: transparent transparent $primary transparent; }
      &#{$self}--left::after { border-color: transparent transparent transparent $primary; }
      &#{$self}--right::after { border-color: transparent $primary transparent transparent; }
      &#{$self}--top::after { border-color: $primary transparent transparent transparent; }
    }

    &--urgent {
      background-color: $red;

      &#{$self}--bottom::after { border-color: transparent transparent $red transparent; }
      &#{$self}--left::after { border-color: transparent transparent transparent $red; }
      &#{$self}--right::after { border-color: transparent $red transparent transparent; }
      &#{$self}--top::after { border-color: $red transparent transparent transparent; }
    }

    &--bottom {
      left: 50%;
      top: 105%;
      transform: translateX(-50%);

      &::after {
        border-color: transparent transparent $secondary transparent;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--left {
      top: 50%;
      right: 105%;
      transform: translateY(-50%);

      &::after {
        border-color: transparent transparent transparent $secondary;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--right {
      left: 105%;
      top: 50%;
      transform: translateY(-50%);

      &::after {
        border-color: transparent $secondary transparent transparent;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--top {
      bottom: 105%;
      left: 50%;
      transform: translateX(-50%);

      &::after {
        border-color: $secondary transparent transparent transparent;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
      }
    }
  }

  &:hover &__content {
    visibility: visible;
  }

  .button {
    margin: 5px;
  }
}
